:root {
    --body-font: 'Open Sans', sans-serif;
    --primary-color: rgba(89, 12, 18, 1);
    --secondary-color: rgba(140, 80, 58, 1); 
    --tertiary-color: rgba(191, 125, 101, 1); 
    --light-color: rgba(216, 167, 138, 1); 
    --dark-color: rgba(38, 0, 0, 1); 
}

/* body {} */

.section {
    padding: 40px 5px;
}

/* .container {
    max-width: 900px;
    padding: 10px;
} */

/* nav */

.nav {
    transition: all .2s;
}

.logo {
    margin-right: 40px;
}

.nav-li {
    padding: 5px 15px;
}

.navlink {
    padding: 0px 2px;
    font-weight: 600;
    color: var(--primary-color);
}

.menu-body {
    transition: all .2s;
}

.nav-btn {
    margin-left: 10px;
    padding: 5px 25px;
}

.signup-btn {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 2px solid var(--dark-color);
}

.signin-btn {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 2px solid var(--primary-color);
}

.lines,
.lines::after,
.lines::before {
    background-color: var(--primary-color);
}
/* landing */

.landing {
    background-color: var(--secondary-color);
}

/* flight */

.flights {
    /* background-color: var(--light-color); */
}

.flight-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.flight-card {
    background-color: var(--light-color);
    padding: 15px 25px;
}

/* about */

.about {
    background-color: var(--tertiary-color);
}

/* services */

.services {
    background-color: var(--dark-color);
}

/* contact */

.contact {
    background-color: var(--primary-color);
}

@media (max-width: 767.98px) {
    .flight-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 567.98px) {
    .flight-grid {
        grid-template-columns: 1fr;
    }
}

