:root {
    --body-font: 'Open Sans', sans-serif;
    --primary-color: rgba(89, 12, 18, 1);
    --secondary-color: rgba(140, 80, 58, 1); 
    --tertiary-color: rgba(191, 125, 101, 1); 
    --light-color: rgba(216, 167, 138, 1); 
    --dark-color: rgba(38, 0, 0, 1); 
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--body-font);
}

/* Color Theme Swatches in Hex */
.Crimson-1-hex { color: #590C13; }
.Crimson-2-hex { color: #D9A78B; }
.Crimson-3-hex { color: #8C513B; }
.Crimson-4-hex { color: #BF7D65; }
.Crimson-5-hex { color: #260101; }

/* Color Theme Swatches in RGBA */
.Crimson-1-rgba { color: rgba(89, 12, 18, 1); }
.Crimson-2-rgba { color: rgba(216, 167, 138, 1); }
.Crimson-3-rgba { color: rgba(140, 80, 58, 1); }
.Crimson-4-rgba { color: rgba(191, 125, 101, 1); }
.Crimson-5-rgba { color: rgba(38, 0, 0, 1); }

/* body {} */

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.section {
    padding: 40px 5px;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
}

.desk-none {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: grid;
}

.w-100 {
    width: 100%;
}

/* nav */

.nav {
    transition: all .2s;
}

.logo {
    margin-right: 40px;
}

.nav-li {
    padding: 5px 15px;
}

.navlink {
    padding: 0px 2px;
    font-weight: 600;
    color: var(--primary-color);
}

.menu-body {
    /* align-items: center;
    justify-content: space-between; */
    transition: all .2s;
}

.text-right {
    text-align: right;
}

.signup-btn {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 2px solid var(--dark-color);
}

.signin-btn {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 2px solid var(--primary-color);
}

.hamburg {
    display: none;
}

.hamburg-wrap {
    width: 25px;
    height: 25px;
    justify-content: center;
    /* align-items: center; */
}
.hamburg-btn:hover {
    cursor: pointer;
}

.lines,
.lines::after,
.lines::before {
    display: inline-block;
    height: 3px;
    width: 25px;
    background-color: var(--primary-color);
    position: relative;
    transition: all .2s;
}
.lines::after,
.lines::before {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    top: 7px;
}
.lines::after {
    top: 7px;
}
.lines::before {
    top: -7px;
}
.hamburg-btn:hover .lines::after {
    top: 8px;
}
.hamburg-btn:hover .lines::before {
    top: -8px;
}

.hamburg:checked ~ .hamburg-btn .hamburg-wrap .lines {
    background-color: transparent;
}
.hamburg:checked ~ .hamburg-btn .hamburg-wrap .lines::after {
    top: 0;
    transform: rotate(135deg);
}
.hamburg:checked ~ .hamburg-btn .hamburg-wrap .lines::before {
    top: 0;
    transform: rotate(-135deg);
}

/* landing */

.landing {
    background-color: var(--secondary-color);
}

/* flight */

.flights {
    /* background-color: var(--light-color); */
}

.flight-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.flight-card {
    background-color: var(--light-color);
    padding: 15px 25px;
}

/* about */

.about {
    background-color: var(--tertiary-color);
}

/* services */

.services {
    background-color: var(--dark-color);
}

/* contact */

.contact {
    background-color: var(--primary-color);
}

@media (max-width: 767.98px) {
    .desk-none {
        display: block;
    }
    .nav {
        flex-wrap: wrap;
    }
    .nav-ul,
    .menu-body {
        flex-direction: column;
    }
    .menu-body {
        display: none;
    }
    .hamburg:checked ~ .menu-body {
        display: flex;
    }
    .flight-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 567.98px) {
    .flight-grid {
        grid-template-columns: 1fr;
    }
}

