*{
    padding: 0;
    margin: 0;
}
h2{
    margin: 20px;
    margin-left: 43%;
    margin-top: 70px;
}
button{
    background: rgb(41, 134, 41);
    color: white;
    padding: 1em 1.875em;
    height: 40px;
    margin-top: 1rem;
    width: 120px ;
    justify-self: center;
    margin-left: 45%;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 0;


}